@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800&display=swap');
html {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
html,body{
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Alexandria', Arial, sans-serif;
}.languages {
  border-color: rgb(17, 0, 56);
  background-color: rgb(17, 0, 56);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  border-radius: 10px;
  vertical-align: top;
}
.en, .ar {
  color: white;
}
.enflag, .arabflag {
  width: 20px;
  height: auto;
  margin-left: 3px;
}
.lang {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 400px;
}
.one {
  height: 1700px;
}
.maintext {
  margin-top: 0;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0;
  display: inline-block;
}
.mainsubtext {
  margin-top: 40px;
  font-weight: 300;
  margin-bottom: 350px;
  font-size: 50px;
  padding-bottom: 400px;
}
.sublink {
  text-decoration: underline;
  color: white;
  transition: all 0.15s;
}
.sublink:hover {
  opacity: 70%;
}
.two {
  background-color: rgb(36, 18, 53, 80%);
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.name {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0;
}
.actualname {
  color: white;
}
.actualname > a {
  text-decoration: none;
  color: rgba(0,0,0,.4);
  z-index: 1;
}

.actualname > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #9CF5A6;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.actualname > a:hover:before,
.actualname > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.description {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.content {
  border-radius: 4px;
  width: 525px;
  height: 100px;
  border-width: 5px;
  border-style: solid;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
  border-color: rgb(39, 0, 102);
  color: white;
  transition: all 0.15s;
  margin-bottom: 50px;
}
.content:hover {
  background-color: rgb(39, 0, 102);
  height: auto;
  width: 550px;
  font-size: 40px;
  height: 125px;
}
.content:active {
  width: 525px;
  height: 100px;
  opacity: 80%;
}
.videos {
  font-size: 100px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}
.videoone {
  border-width: 5px;
  border-style: solid;
  display: inline-block;
  margin-bottom: 20px;
}
.four {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social {
  font-size: 50px;
}
.fa-twitter, .fa-instagram {
  color: white;
  text-decoration: none;
}
.copyright {
  font-size: 30px;
}
